# ---------------------------------------
# Python
# ---------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------
# Virtual Environment
# ---------------------------------------
.venv/
venv/
env/

# ---------------------------------------
# Jupyter Notebook
# ---------------------------------------
.ipynb_checkpoints/

# ---------------------------------------
# VS Code
# ---------------------------------------
.vscode/

# ---------------------------------------
# Streamlit
# ---------------------------------------
.streamlit/

# ---------------------------------------
# Python Environment
# ---------------------------------------
.python-version

# ---------------------------------------
# Logs
# ---------------------------------------
*.log

# ---------------------------------------
# OS Files
# ---------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------
# Build Files
# ---------------------------------------
build/
dist/
*.egg-info/

# ---------------------------------------
# PyTorch Models
# ---------------------------------------
# ---------------------------------------
# YOLO Output
# ---------------------------------------
runs/

# ---------------------------------------
# Temporary Files
# ---------------------------------------
temp/
tmp/
*.tmp